.message{
    background-color: $backgroundColor;
    .msg-content{
        margin-top: $bar-height;
        .status{
            font-size: 12px;
            font-weight: bold;
            color: red;
        }
        .type{
            font-size: 14px;
            font-weight: bold;
        }
        .msg{
            margin-top: 5px;
            font-size: 12px;
            color: gray;
        }
    }
}
