$primary: white;//#8AC007;
$gap: 2px;

.native{
    background-color: $backgroundColor;
    .content{
        .pool{
            margin-top: $bar-height + $gap;
            white-space: nowrap;
            height: 170px;
            //overflow: auto;
            .pool-item{
                width: 130px;
                display: inline-block;
                background-color: $primary;
                padding:0 2px 0 0;
                .pool-img{
                    height: 168px;
                }
                .pool-locate{
                    position: absolute;
                    top: 0;
                    color: initial;
                    font-weight: bold;
                    background: floralwhite;
                    opacity: 0.5;
                }
                .box{
                    img{
                        min-width:100%;
                        max-width:100%;
                        min-height: 168px;
                        //height: 100%;
                    }
                    .text{
                        position: absolute;
                        bottom: 0px;
                        left:0;
                        right: 0;
                        background: ivory;
                        opacity: 0.5;
                    }
                }
            }
        }
        .collection{
            background-color: white;
            margin-top: $gap;
            .sort-header{
                background-color: white;
                //top: 10px;
                width: 100%;
                //margin: 0 3.3% 0 3.3%;
                height: 32px;
                border-bottom: solid 1px $borderColor;
                .filter-place{
                    width: 32%;
                    height: 31px;
                    display: inline-block;
                    border-right: solid 1px;
                    border-color: $borderColor;
                    position: relative;
                    text-align: center;
                }
                .filter-type{
                    width: 32%;
                    height: 31px;
                    display: inline-block;
                    border-right: solid 1px;
                    border-color: $borderColor;
                    position: relative;
                    text-align: center;
                }
                .filter-sort{
                    width: 32%;
                    height: 31px;
                    display: inline-block;
                    border: none;
                    border-color: $borderColor;
                    position: relative;
                    text-align: center;
                }
            }
            .clause{
                .list{
                    a{
                        .location{
                            margin-top: 8px;
                            display: block;
                            font-size: 12px;
                            color: gray;
                        }
                        .book{
                            display: block;
                            float: right;
                        }
                        .price{
                            margin-top: 8px;
                            position: absolute;
                            right: 16px;
                            top:8px;
                        }
                    }
                }
            }
        }
    }
}
