<ion-view view-title="详情" class = "publish-detail">
    <!--ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar-->
    <div class="bar bar-header item-input-inset bar-positive">
        <button class = "button  button-large button-clear ion-ios-arrow-left" ng-click = "goBack()"></button>
        <h1 class = "title">详情</h1>
    </div>

	<ion-content class = "content">
		<ion-slide-box>
			<ion-slide>
				<div class = "detail-img">
					<img src = "img/aircraft.jpg"/>
				</div>
			</ion-slide>
			<ion-slide>
				<div class = "detail-img">
					<img src = "img/aircraft2.jpg"/>
				</div>
			</ion-slide>
			<ion-slide>
				<div class = "detail-img">
					<img src = "img/aircraft5.jpg"/>
				</div>
			</ion-slide>
		</ion-slide-box>
        <div class = "simple-info">
            <div class = "simple-info-text">￥{{currentPublish.price}}/亩</div>
        </div>
        <div class = "owner-info">
            <a class="item item-avatar" href="#">
                <img src="img/user/{{currentPublish.ownerId}}-32.png">
                <h2>{{currentPublish.owner}}</h2>
                <p>{{currentPublish.area}}</p>
            </a>
        </div>
        <div class = "description">
            <span>{{currentPublish.description}}</span>
        </div>
        <div class = "location">
            <span class = "location-text ion-android-compass">
                {{currentPublish.area}}.{{currentPublish.village}}
            </span>
        </div>
        <div class = "comments" ng-if = "currentPublish.commentDetail.length > 0">
            <div class = "msg-title">留言</div>
            <div ng-repeat = "comment in currentPublish.commentDetail">
                <a class = "item item-avatar" href = "#">
                    <img src = "img/user/{{comment.visitorId}}-32.png">
                    <h2>{{comment.visitorName}}</h2>
                    <p>{{comment.words}}</p>
                </a>
            </div>
        </div>
	</ion-content>
</ion-view>
