<ion-view view-title="详情" class = "publish-detail">
    <div class="bar bar-header item-input-inset bar-positive">
        <button class = "button  button-large button-clear ion-ios-arrow-left" ng-click = "goBack()"></button>
        <h1 class = "title">详情</h1>
    </div>

	<ion-content class = "content">
		<ion-slide-box>
			<ion-slide ng-repeat = "picture in currentPublish.img">
				<div class = "detail-img">
					<img src = "img/{{picture}}"/>
				</div>
			</ion-slide>
		</ion-slide-box>
        <div class = "simple-info">
            <div class = "price">￥{{currentPublish.price}}/亩</div>
        </div>
        <div class = "owner-info">
            <a class="item item-avatar" href="#">
                <img src="img/user/{{currentPublish.ownerId}}-32.png">
                <div class = "title">{{currentPublish.owner}}</div>
                <div class = "text">{{currentPublish.area}}</div>
            </a>
        </div>
        <div class = "info">
            <div class = "description">
                <span>{{currentPublish.description}}</span>
            </div>
            <div class = "location">
                <span class = "location-text ion-android-compass">
                    {{currentPublish.area}}.{{currentPublish.village}}
                </span>
            </div>
            <div class = "book">
                <button class = "button button-small button-positive">预约</button>
            </div>
        </div>
        <div class = "comments" ng-if = "currentPublish.commentDetail.length > 0">
            <div class = "title">留言</div>
            <div ng-repeat = "comment in currentPublish.commentDetail">
                <a class = "item item-avatar" href = "#">
                    <img src = "img/user/{{comment.visitorId}}-32.png">
                    <div class = "title">{{comment.visitorName}}</div>
                    <div class = "text">{{comment.words}}</div>
                </a>
            </div>
        </div>
	</ion-content>
</ion-view>
