<ion-view class = "native">
    <div class="bar bar-header item-input-inset bar-positive">
        <fs-locate items = "provinces"></fs-locate>
        <label class="item-input-wrapper">
            <i class="icon icon-positive ion-ios-search-strong placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
    </div>

    <ion-content class = "content">
        <div  class = "pool" direction="x">
            <ion-list>
                <ion-slide-box class = "pool-item" auto-play = "true" on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <div class="box blue">
                            <img src = "img/aircraft.jpg">
                            <p>无人机喷药灭虫</p>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box yellow">
                            <img src = "img/tuolaji.jpg">
                            <p>拖拉机</p>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box pink">
                            <img src = "img/aircraft5.jpg">
                            <p>无人机灭虫</p>
                        </div>
                    </ion-slide>
                </ion-slide-box>
                <ion-slide-box class = "pool-item" auto-play = "true" on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <div class="box blue">
                            <img src = "img/aircraft2.jpg">
                            <p>无人机灭虫</p>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box yellow">
                            <img src = "img/aircraft4.jpg">
                            <p>无人机灭虫</p>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box pink">
                            <img src = "img/aircraft3.jpg">
                            <p>无人飞机喷药</p>
                        </div>
                    </ion-slide>
                </ion-slide-box>
                <ion-slide-box class = "pool-item" auto-play = "true" on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <div class="box blue">
                            <img src = "img/geguji.jpg">
                            <p>割谷</p>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box yellow">
                            <img src = "img/chayang.jpg">
                            <p>插秧</p>
                        </div>
                    </ion-slide>
                </ion-slide-box>
                <ion-slide-box class = "pool-item" auto-play = "true" on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <div class="box blue">
                            <p>BLUE</p>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </ion-list>
        </div>

        <div class = "collection">
            <div class = "sort-header">
                <fs-drop-down class = "filter-place" items = "places"></fs-drop-down>
                <fs-drop-down class = "filter-type" items = "types"></fs-drop-down>
                <fs-drop-down class = "filter-sort" items = "sorts"></fs-drop-down>
            </div>

            <div class = "clause">
                <div class = "list">
                    <div ng-repeat = "publish in publishes">
                        <a class = "item item-thumbnail-left" href = "#">
                          <img src = "img/{{publish.img}}">
                          <h2>{{publish.title}}</h2>
                          <p>￥{{publish.price}}/亩</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
