$primary: white;//#8AC007;
$gap: 5px;

.native{
    background-color: #D5D8D2;
    .content{
        .pool{
            margin-top: $bar-height + $gap;
            overflow: scroll;
            white-space: nowrap;
            .pool-item{
                width: 130px;
                height: 148px;
                display: inline-block;
                background-color: $primary;
            }
        }
        .collection{
            background-color: white;
            .sort-header{
                background-color: white;
                //top: 10px;
                width: 100%;
                //margin: 0 3.3% 0 3.3%;
                height: 32px;
                border-bottom: solid 1px #CCCFCD;
                text-align: center;
                .filter-place{
                    width: 33%;
                    height: 31px;
                    display: inline-block;
                    border-right: solid 1px;
                    border-color: #CCCFCD;
                    position: relative;

                }
                .filter-type{
                    width: 33%;
                    height: 31px;
                    display: inline-block;
                    border-right: solid 1px;
                    border-color: #CCCFCD;
                    position: relative;

                }
                .filter-sort{
                    //width: 30%;
                    height: 31px;
                    display: inline-block;
                    border: none;
                    border-color: #CCCFCD;
                    position: relative;
                }
            }
            .clause{
                overflow: auto;
            }
        }
    }
}


