<div class="list card">

    <div class="item">
        <div class = "title">{{data.title}}</div>
        <div class = "text">{{data.publishTime}}</div>
    </div>

    <div class="item item-body">
        <img class="full-image" src="img/{{data.img}}">
        <div class = "text">{{data.description}}</div>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            {{data.like}} Like
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            {{data.comment}} Comment
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            {{data.share}} Share
        </a>
    </div>
</div>
