<ion-view class = "user">
    <ion-content class = "user-content">
        <div class = "user-avatar">
            <div class = "config">
                <i class = "icon ion-ios-compose-outline"></i>
                <i class = "icon ion-ios-gear-outline"></i>
            </div>
            <div class = "picture">
                <img src = "img/user/user-64.png">
            </div>
            <div class = "name">Admin</div>
        </div>
        <ion-list>
        </ion-list>
    </ion-content>
</ion-view>
