<ion-view class = "user" view-title = "tab-user">
    <ion-content class = "user-content">
        <div class = "user-avatar">
            <div class = "config">
                <a class = "button button-icon button-positive icon ion-ios-compose-outline"></a>
                <a class = "button button-icon button-positive icon ion-ios-gear-outline"></a>
            </div>
            <div class = "picture">
                <img src = "img/user/user-64.png">
            </div>
            <div class = "name">李开封</div>
        </div>
        <fs-tabs>
            <fs-pane title = "发布">
                <div ng-repeat = "data in myPublish.publish">
                    <fs-card data = "data"></fs-card>
                </div>
            </fs-pane>
            <fs-pane title = "预约">qqqqq
            </fs-pane>
            <fs-pane title = "过期">kkkkkk
            </fs-pane>
        </fs-tabs>

    </ion-content>
</ion-view>
