<div class="list card">

    <div class="item item-avatar">
        <h2>{{data.title}}</h2>
        <p>{{data.publishTime}}</p>
    </div>

    <div class="item item-body">
        <img class="full-image" src="img/{{data.img}}">
        <p>{{data.description}}</p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            {{data.like}} Like
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            {{data.comment}} Comment
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            {{data.share}} Share
        </a>
    </div>
</div>